<div id="allpost" style="width: 80%;">
    <nb-card >
        <nb-card-body class="ml-5 container" style="font-size: 22px; width: 100%;">
            <!-- <div class="my-element">
            </div> -->
            <h5 class="mt-5" style="margin-left: -91px; font-size: 35px;">INVOICE</h5>
            <table class="" style="width: 100%; margin: 0px">
                <tr>
                    <td class="detail" style="width: 50%;">
                        <div class="company-details">
                            <h6  style="font-size: 20px; font-weight: 600;">CODUP TECHNOLOGIES PRIVATE LIMITED</h6>
                            <p style="font-size: 20px;">12th floor, Office no. 1214 to 1217,<br>
                                I Square Building, Near Heer Party Plot,<br>
                                Near Shukan Mall X Roads,<br>
                                Science City Road, Sola, Ahmedabad,<br>
                                Gujarat, 380060</p>
                            <p style="margin-top: -10px; font-size: 20px;">GSTIN/UIN: 24AAKCC0657J1ZM</p>
                            <p style="margin-top: -15px; font-size: 20px;">State Name: Gujarat, Code : 24</p>
                        </div>
                        <hr>
                        <div class="details-section">
                            <div class="company-details">
                                <p style="font-size: 20px;">Consignee (Ship to)</p>
                                <h6 style="font-size: 20px; font-weight: 600;">CODUP TECHNOLOGIES PRIVATE LIMITED</h6>
                                <p style="font-size: 20px;">12th floor, Office no. 1214 to 1217,<br>
                                    I Square Building, Near Heer Party Plot,<br>
                                    Near Shukan Mall X Roads,<br>
                                    Science City Road, Sola, Ahmedabad,<br>
                                    Gujarat, 380060</p>
                                <p style="margin-top: -10px; font-size: 20px;">GSTIN/UIN: 24AAKCC0657J1ZM</p>
                                <p style="margin-top: -15px; font-size: 20px;">State Name: Gujarat, Code : 24</p>
                            </div>
                            <hr>
                            <div class="buyer-details">
                                <p style="font-size: 20px;">Supplier (Bill from)</p>
                                <h6 style="font-size: 20px;">{{invoiceData?.to_Name}}</h6>
                                <!-- <p style="width: 350px; font-weight: 600;">Address: {{invoiceData?.to_Address}}</p> -->
                                <!-- <p style="margin-top: -10px; font-weight: 600;">GSTIN/UIN: {{invoiceData?.to_GSTIN_UIN}}</p> -->
                                <p style="font-size: 20px;">State Name : Gujarat, Code : 24</p>
                            </div>
                        </div>
                    </td>
                    <td class="invoice-details" style="width: 50%;">
                        <table style="height: 650px; margin-bottom: 0px;">
                            <tr style="height: 50px;">
                                <td style=" font-size: 20px;">Invoice No :
                                    <span style="font-weight: 700;">{{invoiceData?.invoiceNumber}}</span>
                                </td>
                                <td style="font-size: 20px;">Dated :
                                    <span style="font-weight: 700;">{{invoiceData?.invoiceDate | date : "dd-MMM-yyyy"}}</span>
                                </td>
                            </tr>
                            <tr >
                                <td style="height: 50px;"><span style="float: left; font-size: 19px;">Supplier Invoice No. & Date : <br><b>{{invoiceData?.invoiceNumber}}  dt. {{invoiceData?.invoiceDate | date : "dd-MMM-yyyy"}}</b></span></td>
                                <td style="height: 50px;"><span style="float: left; font-size: 19px;">Other References :</span></td>
                            </tr>
                            <tr>
                                <td colspan="2" ><span style="float: left; margin-top: -463px;"></span>
                                </td>
                            </tr> 
                            <!-- 
                            <tr style="height: 50px;">
                                <td style="font-weight: 600;">Buyer's Order No.</td>
                                <td style="font-weight: 600;">Dated</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="font-weight: 600;">Dispatch Doc No.</td>
                                <td style="font-weight: 600;">Delivery Note Date</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="font-weight: 600;">Dispatched through</td>
                                <td style="font-weight: 600;">Destination</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-weight: 600;"><span style="float: left; margin-top: -163px;">Terms of Delivery</span>
                                </td>
                            </tr> -->
                        </table>
                    </td>
                </tr>
            </table>

            <div class="item-details" style="margin: 0px; width: 100%;">
                <table style="margin: 0px;">
                    <thead>
                        <tr>
                            <th>Sl No.</th>
                            <th>Particulars</th>
                            <!-- <th>HSN/SAC</th> -->
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Per</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border: none !important;">
                            <td valign="top">1
                                <br><br><br><br><br><br><br><br>2
                            </td>
                            
                            <td style="font-size: 21px;"><span style="font-weight: 700; float: left;"></span>
                                <span style="float: left; font-weight: 700;">{{invoiceData?.item}}</span> <br><br>
                                <span style="float: left;">Vraj Pandya - Consultant - Technical</span><br>
                                <span style="float: left;">Monthly rate = 30,000</span> <br>
                                <span style="float: left;">Total Working Days June 24 = 20</span> <br>
                                <span style="float: left;">Actual Working Days June 24 = 20</span>  <br><br><br>
                                <span style="float: left;">Less : <b>Tds Payble-2024-25</b></span> <br>
                                <span style="float: left;"></span> <br><br><br>
                                <!-- <span style="font-weight: 700; float: right;">Output CGST&#64;</span> -->
                                <br>
                                <!-- <span style="font-weight: 700; float: right;">Output SGST&#64;</span> -->
                                <br><br><br><br>
                                <span style="float: left;"><span style="font-weight: 700;">
                                        </span><br></span><br><br><br><br><br><br><br><br><br><br>
                            </td>
                            <!-- <td style="font-weight: 700;" valign="top"><br>{{invoiceData?.hsN_SAC}}</td> -->
                            <td valign="top"><br></td>
                            <td valign="top"><br><br><br><br><br><br><br><br>
                                <!-- <span style="float: right; font-weight: 600;">{{invoiceData?.cgsT_Per}}</span> -->
                                
                                <!-- <span style="float: right; font-weight: 600;">{{invoiceData?.sgsT_Per}}</span> -->
                                
                                <span style="float: right; font-weight: 600;">{{invoiceData?.tdS_Per}}</span><br><br><br><br><br><br><br><br>
                            </td>
                            <td  valign="top"><br><br><br><br><br><br><br><br>
                                <!-- <span style="float: left; font-weight: 600;">%</span> -->
                               
                                <!-- <span style="float: left; font-weight: 600;">%</span> -->
                                
                                <span style="float: left; font-weight: 600;">%</span><br><br><br><br><br><br><br><br>
                            </td>

                            <td style="font-weight: 700;" valign="top">
                                <span>{{invoiceData?.price}}</span> <br><br><br><br><br><br><br><br>
                                <!-- <span>{{invoiceData?.cgsT_Amount}}</span> -->
                                
                                <!-- <span>{{invoiceData?.sgsT_Amount}}</span> -->
                                
                                <span>(-){{invoiceData?.tdS_Amount}}</span><br>
                                <span></span> <br><br><br><br><br><br><br><br><br><br>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span style="float: right; font-weight: 700;">Total</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-weight: 700;">₹ {{invoiceData?.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="amount-in-words" style="margin: 0px; width: 100%;">
                <span style="float: right;">E. & O.E &nbsp;</span>
                <p style=" margin: 4px; font-size: 18px;">&nbsp; Amount Chargeable (in words): <br>
                    <span style="font-weight: 600; font-size: 20px;">&nbsp;INR {{AmountValue|amountInWords}}</span>
                </p>
            </div>

            <div class="tax-details" style="margin: 0px; width: 100%;">
                <table class="table" style="width: 100%;">
                    <tbody>
                        <!-- <tr>
                            <th rowspan="2" style="text-align: center;"><br>HSN/SAC</th>
                            <th rowspan="2" style="text-align: center;"><br>Taxable Value</th>
                            <th colspan="2" style="text-align: center;">CGST</th>
                            <th colspan="2" style="text-align: center;">SGST / UTGST</th>
                            <th rowspan="2" style="text-align: center;"><br>Total</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;">Rate</th>
                            <th style="text-align: center;">Amount</th>
                            <th style="text-align: center;">Rate</th>
                            <th style="text-align: center;">Amount</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{invoiceData?.hsN_SAC}}</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{invoiceData?.total}}</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{invoiceData?.cgsT_Per}}%</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{invoiceData?.cgsT_Amount}}</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{invoiceData?.sgsT_Per}}%</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{invoiceData?.sgsT_Amount}}</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{Totaltax}}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><strong>Total</strong></td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{invoiceData?.Totaltax}}</h6>
                            </td>
                            <td></td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{invoiceData?.cgsT_Amount}}</h6>
                            </td>
                            <td></td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{invoiceData?.sgsT_Amount}}</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">{{Totaltax}}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align: left;">Tax Amount (in words): <span style="font-weight: 700;">{{Totaltax|amountInWords}}</span></td>
                        </tr> -->
                        <tr>
                            <td>Company's GSTIN/UIN :</td>
                            <td colspan="7" style="text-align: right;"><span style="font-weight: 700;">for {{invoiceData?.to_Name}}</span> <br><br><br>Authorised Signatory</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <div class="signatory" style="width: 100%;">
                <p>This is a Computer Generated Invoice</p>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="col-md-12" style="display: flex; justify-content: center; align-items: center;">
    <button type="submit" nbButton status="primary" (click)="generatePdfAndDownload()">Download</button>
</div>