<div id="allpost">
    <nb-card >
        <nb-card-body class="ml-5">
            <!-- <img style="width: 400px; margin-top: 30px;" src="../image/codup-logo.png" alt=""> -->
            <h5 class="mt-5" style="margin-left: -91px;">Tax Invoice</h5>
            <table class="" style="width: 100%; margin: 0px">
                <tr>
                    <td class="detail" style="width: 50%;">
                        <div class="company-details">
                            <h6>CODUP TECHNOLOGIES PRIVATE LIMITED</h6>
                            <p style="font-weight: 600;">12th floor, Office no. 1214 to 1217,<br>
                                I Square Building, Near Heer Party Plot,<br>
                                Near Shukan Mall X Roads,<br>
                                Science City Road, Sola, Ahmedabad,<br>
                                Gujarat, 380060</p>
                            <p style="margin-top: -10px; font-weight: 600;">GSTIN/UIN: 24AAKCC0657J1ZM</p>
                            <p style="margin-top: -15px; font-weight: 600;">State Name : Gujarat, Code : 24</p>
                        </div>
                        <hr>
                        <div class="details-section">
                            <div class="consignee-details">
                                <p style="font-weight: 600;">Consignee (Ship to)</p>
                                <h6>Nanavaty & Asociates</h6>
                                <p style="width: 350px; font-weight: 600;">A/18, 3 rd Floor , Narayan Chambers , Behing Patang Revolving Restaurant , Aso palav Saree shop Lane , Nehru Bridge Circle , Ashram Road, Ahmedabad 380009</p>
                                <p style="margin-top: -10px; font-weight: 600;">GSTIN/UIN: 24AAKPN5452D1ZU</p>
                                <p style="margin-top: -15px; font-weight: 600;">State Name : Gujarat, Code : 24</p>
                            </div>
                            <hr>
                            <div class="buyer-details">
                                <p>Buyer (Bill to)</p>
                                <h6>Nanavaty & Asociates</h6>
                                <p style="width: 350px; font-weight: 600;">A/18, 3 rd Floor , Narayan Chambers , Behing Patang Revolving Restaurant , Aso palav Saree shop Lane , Nehru Bridge Circle , Ashram Road, Ahmedabad 380009</p>
                                <p style="margin-top: -10px; font-weight: 600;">GSTIN/UIN: 24AAKPN5452D1ZU</p>
                                <p style="margin-top: -15px; font-weight: 600;">State Name : Gujarat, Code : 24</p>
                            </div>
                        </div>
                    </td>
                    <td class="invoice-details" style="width: 50%;">
                        <table style="height: 650px; margin-bottom: 0px;">
                            <tr style="height: 50px;">
                                <td style="font-weight: 600;">Invoice No.
                                    <span style="font-weight: 700;">SYN/2024-25/130</span>
                                </td>
                                <td style="font-weight: 600;">Dated
                                    <span style="font-weight: 700;">11-jun-24</span>
                                </td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="font-weight: 600;">Delivery Note</td>
                                <td style="font-weight: 600;">Mode/Terms of Payment</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="font-weight: 600;">Reference No. & Date.</td>
                                <td style="font-weight: 600;">Other References</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="font-weight: 600;">Buyer's Order No.</td>
                                <td style="font-weight: 600;">Dated</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="font-weight: 600;">Dispatch Doc No.</td>
                                <td style="font-weight: 600;">Delivery Note Date</td>
                            </tr>
                            <tr style="height: 50px;">
                                <td style="font-weight: 600;">Dispatched through</td>
                                <td style="font-weight: 600;">Destination</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="font-weight: 600;"><span style="float: left; margin-top: -163px;">Terms of Delivery</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <div class="item-details" style="margin: 0px; width: 100%;">
                <table style="margin: 0px;">
                    <thead>
                        <tr>
                            <th>Sl No.</th>
                            <th>Particulars</th>
                            <th>HSN/SAC</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>per</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="border: none !important;">
                            <td valign="top"><br>1</td>
                            <td><span style="font-weight: 700; float: left;"></span>
                                <span style="float: left; font-weight: 700;">Subscription payment for Synerger Software / Platform</span> <br>
                                <span style="float: left;"></span> <br>
                                <span style="float: left;"></span> <br><br><br>
                                <span style="font-weight: 700; float: right;">Output CGST&#64;9%</span><br>
                                <span style="font-weight: 700; float: right;">Output SGST&#64;9%</span><br><br>
                                <span style="float: left;"><span style="font-weight: 700;">
                                        </span><br></span><br><br><br><br><br><br><br><br><br><br>
                            </td>
                            <td style="font-weight: 700;" valign="top"><br>998313</td>
                            <td></td>
                            <td> <br><br><br> <br><span style="float: right; font-weight: 600;">9</span>
                                <br><span style="float: right; font-weight: 600;">9</span><br><br><br><br><br><br><br><br><br><br>
                            </td>
                            <td> <br><br><br><br> <span style="float: left; font-weight: 600;">%</span>
                                <br> <span style="float: left; font-weight: 600;">%</span><br><br><br><br><br><br><br><br><br><br>
                            </td>

                            <td style="font-weight: 700;">
                                <br><span>5,000.00</span> <br><br><br><br><br><br>
                                <span>450.00</span> <br>
                                <span>450.00</span> <br><br><br>
                                <span></span> <br><br><br><br><br><br><br><br><br><br>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><span style="float: right; font-weight: 700;">Total</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-weight: 700;">₹ 5,900.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="amount-in-words" style="margin: 0px; width: 100%;">
                <span style="float: right; font-weight: 600;">E. & O.E &nbsp;</span>
                <p style=" margin: 0px;">&nbsp; Amount Chargeable (in words): <br>
                    <span style="font-weight: 700;">&nbsp; INR Five Thousand Nine Hundred Only</span>
                </p>
            </div>

            <div class="tax-details" style="margin: 0px; width: 100%;">
                <table class="table" style="width: 100%;">
                    <tbody>
                        <tr>
                            <th rowspan="2" style="text-align: center;"><br>HSN/SAC</th>
                            <th rowspan="2" style="text-align: center;"><br>Taxable Value</th>
                            <th colspan="2" style="text-align: center;">CGST</th>
                            <th colspan="2" style="text-align: center;">SGST / UTGST</th>
                            <th rowspan="2" style="text-align: center;"><br>Total</th>
                        </tr>
                        <tr>
                            <th style="text-align: center;">Rate</th>
                            <th style="text-align: center;">Amount</th>
                            <th style="text-align: center;">Rate</th>
                            <th style="text-align: center;">Amount</th>
                        </tr>
                        <tr>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">998313</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">5,000.00</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">9%</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">450.00</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">9%</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">450.00</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">900.00</h6>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"><strong>Total</strong></td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">5,000.00</h6>
                            </td>
                            <td></td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">450.00</h6>
                            </td>
                            <td></td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">450.00</h6>
                            </td>
                            <td style="text-align: center;">
                                <h6 class="font-weight-bold" style="font-size: 15px;">900.00</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align: left;">Tax Amount (in words): <span style="font-weight: 700;">INR Nine Hundred Only</span></td>
                        </tr>
                        <tr>
                            <td colspan="7" style="text-align: right;"><span style="font-weight: 700;">for CODUP TECHNOLOGIES PRIVATE LIMITED</span> <br><br><br>Authorised Signatory</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <div class="signatory" style="width: 100%;">
                <p>This is a Computer Generated Invoice</p>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="col-md-12" style="display: flex; justify-content: center; align-items: center;">
    <button type="submit" nbButton status="primary" (click)="generatePdfAndDownload()">Download</button>
</div>