<h1 class="container mt-4">Invoice List</h1>
<div class="container mt-4">
  <div class="input-group mb-3">
    <span class="input-group-text">
      <nb-icon icon="search-outline"></nb-icon> 
    </span>
    <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="searchText" aria-label="Search input">
    <button class="btn btn-outline-danger" type="button" (click)="clearSearch()">Clear</button>
  </div>
  <table class="table table-bordered table-custom">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Created Date</th>
        <th class="col-md-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredItems()">
        <td>{{ item.to_Name }}</td>
        <td>{{ item.invoiceDate | date: 'dd-MM-yyyy' }}</td>
        <td>
          <button (click)="EditItem(item.invoiceID,$event)" class="btn btn-success btn-sm me-3">
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
          <button (click)="DeleteItem(item.invoiceID)" class="btn btn-danger btn-sm me-3">
            <nb-icon icon="trash-2-outline"></nb-icon> 
          </button>
          <button (click)="PreviewItem(item.invoiceID, $event)" class="btn btn-primary btn-sm">
            <nb-icon icon="eye-outline"></nb-icon>Preview
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
