<h1 class="container mt-4">Invoice List</h1>
<div class="container mt-4">
  <table class="table table-bordered table-custom">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Created Date</th>
        <th class="col-md-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.to_Name }}</td>
        <td>{{ item.createdDate | date: 'dd-MM-yyyy' }}</td>
        <td>
          <button (click)="editItem($event)" class="btn btn-primary btn-sm me-3">
            <i class="fa fa-edit"></i> Preview
          </button>
          <button (click)="PreviewItem($event)" class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
